table thead th{
    background-image: {{ url_for('static', filename='bg.gif') }};
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
.ascending{
    background-image: {{ url_for('static', filename='asc.gif') };
}
.decending{
    background-image: {{ url_for('static', filename='desc.gif') };
}
