<!doctype HTML>
<html>
<head>
    <title>Queue Monitor</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.1/semantic.css">
    <link rel="stylesheet" type="text/css" href="homepage.css">

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
    <script src="../dist/semantic.js"></script>

    <script src={{ url_for('static', filename='homepage.js') }}></script>   
    <script type="text/javascript" src={{ url_for('static', filename='jquery.tablesorter.js') }}></script> 

    <style type="text/css">
      /*
        table thead th{
            background-image: url({{ url_for('static', filename='bg.gif') }});
            background-repeat: no-repeat;
            background-position: center right;
            cursor: pointer;
        }
        .ascending{
            background-image: url({{ url_for('static', filename='asc.gif') }});
        }
        .decending{
            background-image: url({{ url_for('static', filename='desc.gif') }});
        }
      */
    </style>

</head>
<body>
    <div class="demo container" style="padding:20px;">

    <div class="ui segment">
    <a class="ui ribbon label">
    {% if stream == 'up_down' %}
        <h3 class="ui header">{{ type.upper() }} tasks in last {{ delta }} day(s)</h3>
    {% elif stream == 'down' %}
        <h3 class="ui header">{{ type.upper() }} tasks in last {{ delta }} day(s)</h3>
    {% elif stream == 'up' %}
        <h3 class="ui header">{{ type.upper() }} tasks in last {{ delta }} day(s)</h3>        
    {% endif %}
    </a>

{% if stream == 'up_down' or stream == 'up' %}
    <h3 class="ui header">Uploads</h3>
    <div ui two column stackable center aligned grid segment>
    <table class="ui celled striped table tablesorter" id="upload">
        <thead>
            <tr>
                <th>Task Seq</th>
                <th>Task Owner</th>
                <!--<th>Task Init</th>-->
                <th>Upload ID</th>

                <!--<th>Upload Start</th>-->
                <!--<th>Upload Status</th>-->
                <th>Upload Done</th>

                <!--<th>Spool ID</th>-->
                <!--<th>Spool Status</th>-->
            </tr>
        </thead>
        
        <tbody>
        {% for doc in up_tasks %}
            {% if doc['upload_status'] == 'active' %}
                <tr class="positive">
            {% elif doc['upload_status'] == 'failed' or doc['spool_status'] == 'failed' %}
                <tr class="negative">
            {% else %}
                <tr class="info">
            {% endif %}
                <td>{{ doc.get('task_id') }}</td>
                <td>{{ doc.get('task_owner') }}</td>
                <!--<td>{{ doc.get('task_init') }}</td>-->
                <td>{{ doc.get('upload_id') }}</td>

                <!--<td>{{ doc.get('upload_start') }}</td>-->
                <!--<td>{{ doc.get('upload_status') }}</td>-->
                <td>{{ doc.get('upload_stop') }}</td>

                <!--<td>{{ doc.get('spool_id') }} </td>-->
                <!--<td>{{ doc.get('spool_status') }}</td>-->
            </tr>
        {% endfor %}   
        </tbody>
    </table>  
</div>
{% endif %}

{% if stream == 'up_down' or stream == 'down' %}
    <h3 class="ui header">Downloads</h3>
    <table class="ui celled striped table tablesorter" id="download">
        <thead>
            <tr>
                <th>Task Seq</th>
                <th>Task Owner</th>
                <!--<th>Task Init</th>-->
                <th>Render ID</th>               
                <!--<th>Render Status</th>-->
                <th>Download ID</th>

                <!--<th>Download Start</th>-->
                <th>Download Done</th>                
                <!--<th>Download Status</th>-->                

            </tr>
        </thead>
        
        <tbody>
        {% for doc in down_tasks %}
            {% if doc['download_status'] == 'active' %}
                <tr class="positive">
            {% elif doc['download_status'] == 'failed' %}
                <tr class="negative">
            {% else %}
                <tr class="info">
            {% endif %}
                <td>{{ doc.get('task_id') }}</td>
                <td>{{ doc.get('task_owner') }}</td>
                <!--<td>{{ doc.get('task_init') }}</td>-->
                <td>{{ doc.get('jid') }}</td>
                <!--<td></td>-->
                <td>{{ doc.get('download_id') }}</td>

                <!--<td>{{ doc.get('download_start') }}</td>-->
                <td>{{ doc.get('download_stop') }}</td>
                <!--<td>{{ doc.get('download_status') }}</td>-->
            </tr>
        {% endfor %}   
        </tbody> 

    </table>
 {% endif %}
  </div>
    </div>
</body>
</html>
