<!doctype HTML>
<html>
<head>
    <title>Queue Monitor</title>
    <meta http-equiv="refresh" content="30">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.1/semantic.css">
    <link rel="stylesheet" type="text/css" href="homepage.css">

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
    <script src="../dist/semantic.js"></script>

    <script src={{ url_for('static', filename='homepage.js') }}></script>   
    <script type="text/javascript" src={{ url_for('static', filename='jquery.tablesorter.js') }}></script> 

    <style type="text/css">
      /*
        table thead th{
            background-image: url({{ url_for('static', filename='bg.gif') }});
            background-repeat: no-repeat;
            background-position: center right;
            cursor: pointer;
        }
        .ascending{
            background-image: url({{ url_for('static', filename='asc.gif') }});
        }
        .decending{
            background-image: url({{ url_for('static', filename='desc.gif') }});
        }
      */
    </style>

</head>
<body>
    <div class="demo container" style="padding:20px;">
    <div class="ui segment">
    <a class="ui ribbon label"><h3 class="ui header">Active Tasks</h3></a>
    <!--<h2 class="ui header">Active Tasks</h3>-->
    <h3 class="ui header">Uploads</h3>
    <table class="ui celled striped table tablesorter" id="upload_active">
      <thead>
        <tr>
            <th>Task Seq</th>
            <th>Task Owner</th>
            <th>Upload start</th>
            <th>Upload ID</th>
            <th>Upload Retry #</th>
            <th>Upload Status</th>
            <th>Spool ID</th>
            <th>Spool Status</th>
            <th></th>
        </tr>
      </thead>  
        
      <tbody>
        {% for doc in current_up_tasks %}
            {% if doc['upload_status'] == 'active' %}
            <tr class="positive">
            {% else %}
            <tr class="warning">
            {% endif %}
                <td>{{ doc.get('task_id') }}</td>
                <td>{{ doc.get('task_owner') }}</td>
                <td>{{ doc.get('upload_start') }}</td>
                <td>{{ doc.get('upload_id') }}</td>
                <td>{{ doc.get('upload_retry_count') }}</td>                
                <td>{{ doc.get('upload_status') }}</td>
                <td>{{ doc.get('spool_id') }} </td>
                <td>{{ doc.get('spool_status') }}</td>
                <td>
                  <form action="/cancel/", method="POST", name="cancel_form">
                    <input type="hidden" id="task_type" name="task_type" value="up">
                    <input type="hidden" id="task_state" name="task_state" value={{ doc.get('upload_status') }}>
                    <input type="hidden" id="task_id" name="task_id" value={{ doc.get('upload_id') }}>
                    <input class="ui button" type="submit" id="cancel_button" value="Cancel">
                  </form>
                </td>   
            </tr>
        {% endfor %}    
      </tbody>
    </table>

    <h3 class="ui header">Downloads</h3>
    <table class="ui celled striped table" id="download_active" >
      <thead>
        <tr>
            <th>Task Seq</th>
            <th>Task Owner</th>
            <th>Download start</th>
            <th>Render ID</th>
            <th>Render Status</th>
            <th>Download ID</th>
            <th>Download Retry #</th>
            <th>Download Status</th>
            <th></th>
        </tr>
      </thead>  

        <tbody>
        {% for doc in current_down_tasks %}
            {% if doc['download_status'] == 'active' %}
            <tr class="positive">
            {% else %}
            <tr class="warning">
            {% endif %}
                <td>{{ doc.get('task_id') }}</td>
                <td>{{ doc.get('task_owner') }}</td>
                <td>{{ doc.get('download_start') }}</td>
                <td>{{ doc.get('jid') }}</td>
                <td></td>
                <td>{{ doc.get('download_id') }}</td>
                <td>{{ doc.get('download_retry_count') }}</td>                
                <td>{{ doc.get('download_status') }}</td>
                <td>
                  <form action="/cancel/", method="POST", name="cancel_form">
                    <input type="hidden" id="task_type" name="task_type" value="down">
                    <input type="hidden" id="task_state" name="task_state" value={{ doc.get('download_status') }}>
                    <input type="hidden" id="task_id" name="task_id" value= {{ doc.get('download_id') }}>
                    <input class="ui button" type="submit" id="cancel_button" value="Cancel">
                  </form>
                </td>   
            </tr>
        {% endfor %}    
      </tbody>
    </table>  
    </div>

    <div class="ui segment">
    <a class="ui ribbon label"><h3 class="ui header">Failed Tasks</h3></a>
    <h3 class="ui header">Uploads</h3>
    <table class="ui celled striped table tablesorter" id="upload_failed">
        <thead>
            <tr>
                <th>Task Seq</th>
                <th>Task Owner</th>
                <th>Upload start</th>
                <th>Upload ID</th>
                <th>Upload Retry #</th>
                <th>Upload Status</th>
                <th>Spool ID</th>
                <th>Spool Status</th>
            </tr>
        </thead>
        
        <tbody>
        {% for doc in failed_up_tasks %}
            <tr class="negative">
                <td>{{ doc.get('task_id') }}</td>
                <td>{{ doc.get('task_owner') }}</td>
                <td>{{ doc.get('upload_start') }}</td>
                <td>{{ doc.get('upload_id') }}</td>
                <td>{{ doc.get('upload_retry_count') }}</td>                
                <td>{{ doc.get('upload_status') }}</td>
                <td>{{ doc.get('spool_id') }} </td>
                <td>{{ doc.get('spool_status') }}</td>
            </tr>
        {% endfor %}    
        </tbody>    
    </table>  

    <h3 class="ui header">Downloads</h3>
    <table class="ui celled striped table tablesorter" id="download_failed">
        <thead>
            <tr>
                <th>Task Seq</th>
                <th>Task Owner</th>
                <th>Download start</th>
                <th>Download ID</th>
                <th>Download Retry #</th>                
                <th>Download Status</th>
            </tr>
        </thead>
        
        <tbody>
        {% for doc in failed_down_tasks %}
            <tr class="negative">
                <td>{{ doc.get('task_id') }}</td>
                <td>{{ doc.get('task_owner') }}</td>
                <td>{{ doc.get('download_start') }}</td>
                <td>{{ doc.get('download_id') }}</td>
                <td>{{ doc.get('download_retry_count') }}</td>                
                <td>{{ doc.get('download_status') }}</td>
            </tr>
        {% endfor %}    
        </tbody>    
    </table>  
    </div>

    <div class="ui segment">
    <a class="ui ribbon label"><h3 class="ui header">Done Tasks</h3></a>
    <h3 class="ui header">Uploads</h3>
    <table class="ui celled striped table tablesorter" id="upload_done">
        <thead>
            <tr>
                <th>Task Seq</th>
                <th>Task Owner</th>
                <!--<th>Task Init</th>-->
                <th>Upload ID</th>
                <th>Upload Retry #</th>

                <th>Upload Start</th>
                <!--<th>Upload Status</th>-->
                <th>Upload Done</th>

                <th>Spool ID</th>
                <!--<th>Spool Status</th>-->
            </tr>
        </thead>
        
        <tbody>
        {% for doc in done_up_tasks %}
          <tr class="info">
                <td>{{ doc.get('task_id') }}</td>
                <td>{{ doc.get('task_owner') }}</td>
                <!--<td>{{ doc.get('task_init') }}</td>-->
                <td>{{ doc.get('upload_id') }}</td>
                <td>{{ doc.get('upload_retry_count') }}</td>                

                <td>{{ doc.get('upload_start') }}</td>
                <!--<td>{{ doc.get('upload_status') }}</td>-->
                <td>{{ doc.get('upload_stop') }}</td>

                <td>{{ doc.get('spool_id') }} </td>
                <!--<td>{{ doc.get('spool_status') }}</td>-->
            </tr>
        {% endfor %}    
        </tbody>

    </table>  

    <h3 class="ui header" >Downloads</h3>
    <table class="ui celled striped table tablesorter" id="download_done">
        <thead>
            <tr>
                <th>Task Seq</th>
                <th>Task Owner</th>
                <!--<th>Task Init</th>-->
                <th>Render ID</th>               
                <th>Render Status</th>
                <th>Download ID</th>
                <th>Download Retry #</th>                

                <th>Download Start</th>
                <th>Download Done</th>                
                <!--<th>Download Status</th>-->                

            </tr>
        </thead>
        
        <tbody>
        {% for doc in done_down_tasks %}
            <tr class="info">
                <td>{{ doc.get('task_id') }}</td>
                <td>{{ doc.get('task_owner') }}</td>
                <!--<td>{{ doc.get('task_init') }}</td>-->
                <td>{{ doc.get('jid') }}</td>
                <td></td>
                <td>{{ doc.get('download_id') }}</td>
                <td>{{ doc.get('download_retry_count') }}</td>

                <td>{{ doc.get('download_start') }}</td>
                <td>{{ doc.get('download_stop') }}</td>
                <!--<td>{{ doc.get('download_status') }}</td>-->
            </tr>
        {% endfor %}   
        </tbody> 
    </table>  
    </div>

  </div>
</body>
</html>
